<!DOCTYPE html>
<html>
    <head>
        <meta charset="uft-8">
        <title>Help Page</title>
    </head>
    <body>
        {{> header}}
        <p>project page text would go here</p>

        {{> footer}}
    </body>
</html>